<html lang="zh-CN">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=1024">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>照片墙</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/impress.css') }}">
  <style>
  .image {
    max-width: 800px;
    max-height: 600px;
    cursor: pointer;
    padding: 1px;
   border: 10px solid #eee;
  }
  
  .image:hover, #up:hover, #down:hover {
    outline:2px solid rgba(47, 160, 217, 0.5);
  }
  
#up {
    display: block;
    z-index:1005;
    position: fixed;
    right: 50%;
    up: 0;
}

#down {
    display: block;
    z-index:1005;
    position: fixed;
    right: 50%;
    bottom: 0;
}

  </style>
</head>

<body class="impress-not-supported">

  <!--
  if user's browser can't supported impress, the message below will be show.
  -->

  <div class="fallback-message">
    <p>照片墙正在生成中，请耐心等待。但如果等了一分钟还没有跳转（暂不支持手机浏览器），很可能是你的浏览器太落后了，
    试一下下面这些浏览器吧(ง •̀_•́)ง<b>Chrome</b>, <b>Safari</b> or <b>Firefox</b></p><hr>
    <p>The photo wall is being generated, please wait... If the page didn't change after one minute, there must be
    something wrong about your browser, you better try this browser: <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b>.</p>
  </div>

  <!--
  <div id="status" style="opacity: 0;">
    <progress max="100" value="0"></progress>
  </div>
  -->

  <div id="loader"></div>
  <div id="mask-bg"></div>

  <div id="mask-show">
    <div id="tips">图片资源正在加载，请稍候......</div>
  </div>
  
  <a class="button overview-btn" id="" href="#overview">全景</a>
  <a class="button about-btn" href="#contact">关于</a>
  <input class="button" id="fullscreen" type="image" src="{{ url_for('static', filename='images/fullscreen.png') }}" width="25" onclick="toggleFullScreen()">
  <input id="up" type="image" src="{{ url_for('static', filename='images/up.png') }}" width="30" height="30">
  <input id="down" type="image" src="{{ url_for('static', filename='images/down.png') }}" width="30" height="30">
  
  <div id="impress">
  <div id="image-container">
      {% block page_content %}{% endblock %}
  </div>
  </div>
   <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/impress.js') }}"></script>
   <script src="{{ url_for('static', filename='js/imagesloaded.js') }}"></script>
   <script src="{{ url_for('static', filename='js/photo.js') }}"></script>
   <script>impress().init();</script>
    <script>
    $("#down").click(function () {
       impress().next();
    });
    
    $("#up").click(function () {
       impress().prev();
    });
    
    </script>
</body>
</html>